[submodule "vim/vim.symlink/bundle/minibufexpl.vim"]
	path = vim/vim.symlink/bundle/minibufexpl.vim
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "vim/vim.symlink/bundle/syntastic"]
	path = vim/vim.symlink/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
